* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #666;
	position: relative;
}

.footer {
	width: 100vw;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.footer p {
	font-size: 14px;
}
