.row{
    width:90vw;
}
.searchBar--logo{
    width: 90%;
    height: 50px;
    margin: 2.5% 10%;
}

.form-inline{
    margin: 2%;
}
.search{
    background: #fff;
    display:flex;
    border: 1px solid #dfe1e5;
    width:90%;
    height: 44px;
    border: none;
    
}

input{
    background: transparent;
    display:flex;
    width: 100% !important;
    margin: 0;
    
    border:none;
}
.search:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.30);   
    cursor: pointer;
}

