.similarArtists {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
	overflow-x: scroll;
	width: 80%;
	height: 100%;
	margin: 50px 10%;
}

::-webkit-scrollbar-corner {
	display: none;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 25px;
	height: 2px;
}

::-webkit-scrollbar-track {
	width: 8px;
	height: 8px;
}
